.main{
    max-width: 1200px;
    margin: auto;

    &-quote{
        width: 600px;
        padding: 30px;
        border-radius: 25px;
        margin: 30px auto;
        text-align: center;
        box-shadow: 0px 0px 5px 0px gray;
     
        h3{
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 15px;
        }
        p{
            font-size: 14px;
        }
    }
    &-search{
        display: flex;
        justify-content: center;

        input{
            width: 50%;
            height: 40px;
            border:none;
            outline: none;
            border-radius: 20px 0px 0px 20px;
            box-shadow: 0px 0px 5px 0px gray;
            padding-left: 30px;
        }
        select{
            width: 20%;
            height: 40px;
            border:none;
            outline: none;
            padding-left: 10px;
            border-radius: 0px 20px 20px 0px;
            box-shadow: 0px 0px 5px 0px gray;
        }
    }

    &-wrapper{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap:40px;
        margin-bottom: 60px;
    }
    &-card{
        margin-top: 30px;
        max-width: 250px;
        width: 100%;
        padding: 30px;
        border-radius: 30px;
        box-shadow: 0px 0px 5px 0px gray;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap:10px;
        color:#000;

        *{
            font-weight: lighter;
        }

        img{
            width: 100%;
            height: 200px;
            object-fit: cover;
        }
        h3,h5{
             font-weight: bold;
        }
    }
    &-more{
        width: 200px;
        height: 30px;
        display: block;
        margin: auto;
        border-radius: 15px;
        background: lightcoral;
        color: #fff;
        font-weight: bold;
        border: none;
        font-size: 18px;
        margin-bottom: 10px;
    }
    &-products{
        display: flex;
        justify-content: center;
        align-items: center;
        gap:20px;
        padding: 20px;
        margin: auto;
        margin-top: 50px;
        margin-bottom: 50px;
        box-shadow: 0px 0px 5px 0px gray;
        max-width: 1200px;
        border-radius: 20px;
        &-left{
            width: 50%;
            img{
                width: 100%;
                height: 400px;
            }
        }
        &-right{
            *{
                font-weight: lighter;
            }
            h1{
                font-size: 46px;
            }
            h2{
                font-size: 36px;
                margin-top: 20px;
                margin-bottom: 20px;
            }
            h3{
                font-size: 26px;
            }
            p{
                font-size: 18px;
                margin-top: 20px;
                margin-bottom: 20px;
            }
            h4{
                font-size: 22px;
            }
            button{
                width: 200px;
                height: 30px;
                display: block;
                margin: auto;
                border-radius: 20px;
                background: lightcoral;
                color: #fff;
                font-weight: bold;
                border: none;
                font-size: 18px;
                margin-top: 50px;
            }
        }
        
    }
    @media (max-width:1024px) {
       &-quote{
        width: 50%;
       }
       &-search{
        input{
            width: 40%;
        }
        select{
            width: 20%;
        }
       }
    }
    @media (max-width:1024px) {
        padding-bottom: 100px;
        padding-left: 16px;
        padding-right: 16px;
        &-products{
            width: 80%;
            margin:50px auto;
        }
    }
    @media (max-width:820px) {
        padding-bottom: 100px;
        padding-left: 16px;
        padding-right: 16px;
        &-products{
            display: block;
            justify-content: center;
            align-items: center;
            margin:50px auto;
            margin-bottom: 700px;
            width: 400px;
            max-height: 1000px;
            &-left{
                width: 100%;
                height: 40%;
            }
            &-right{
                width: 100%;
                height: 60%;
            }
        }
    }
    @media (max-width:768px) {
        padding-bottom: 100px;
        padding-left: 16px;
        padding-right: 16px;
        &-products{
            display: block;
            justify-content: center;
            align-items: center;
            margin:50px auto;
            margin-bottom: 700px;
            width: 400px;
            max-height: 1000px;
            &-left{
                width: 100%;
                height: 40%;
            }
            &-right{
                width: 100%;
                height: 60%;
            }
        }
    }
    @media (max-width:540px) {
        padding-bottom: 100px;
        padding-left: 16px;
        padding-right: 16px;
        &-products{
            display: block;
            justify-content: center;
            align-items: center;
            margin:50px auto;
            margin-bottom: 700px;
            width: 400px;
            max-height: 1000px;
            &-left{
                width: 100%;
                height: 40%;
            }
            &-right{
                width: 100%;
                height: 60%;
            }
        }
       
    }
    @media (max-width:360px) {
        padding-bottom: 100px;
        padding-left: 16px;
        padding-right: 16px;
        &-products{
            display: block;
            justify-content: center;
            align-items: center;
            margin:50px auto;
            margin-bottom: 700px;
            width: 250px;
            max-height: 1000px;
            &-left{
                width: 100%;
                height: 100px;
                img{
                    height: 200px;
                }
            }
            &-right{
                width: 100%;
                margin-top: 100px;
            }
        }
      
    }


}